footer {
    @if $hide_footer == true {
        display: none;
    }
    margin: 0 auto;
    background: $background_accent_footer;
    padding: 20px 30px;
    font-size: $font_size_default;
    color: $font_footer;
    text-align: center;
    a, a:link, a:visited {
        color: $font_accent_footer_link;
        text-decoration: none;
    }
    a:hover {
        color: $font_accent_footer_linkhover;
    }
        .footer__social_logo{
            max-width: 13%;
        }
    .footer__social_logo:hover {
        filter: drop-shadow(1px 1px 2px $font_accent_footer_link);
    }
}

@media (min-width: $large_view) {
    footer {
        font-size: $font_size_default_large;
    }
}

@media (max-width: $mobile_view) {
    footer {
        font-size: $font_size_default_mobile;
        a:link, a:visited {
            color: $font_accent_footer_link;
        }
        a:hover {
            color: $font_accent_footer_linkhover;
        }
    }
}

@media (max-width: $tiny_view) {
    footer {
        font-size: $font_size_default_pico;
    }
}
