$background_accent_1: rgb(29, 166, 74);
$background_accent_2: white;
$background_accent_footer: rgb(27, 115, 64);
$menu_background_color: transparent;
$menu_background_dropdown_color: rgba(255,255,255,0.8);
$menu_accent_hover: #ffc000;
$menu_box_background: transparent;

$font_accent_1: white;
$font_accent_2: rgba(84, 150, 112, 1);
$font_accent_3: rgb(27, 115, 64);
$font_accent_4: rgb(247, 196, 24);
$font_accent_link: rgb(84, 150, 112);
$font_accent_linkhover: rgb(144, 211, 237);
$font_accent_footer_link: rgb(247, 196, 24);
$font_accent_footer_linkhover: rgb(144, 211, 237);
$font_submenu: black;
$font_menu: white;
$font_default: black;
$font_footer: white;

$font_size_default: 1.3em;
$font_size_default_large: 2.2em;
$font_size_default_mobile: 1em;
$font_size_default_tiny: 0.9em;
$font_size_default_pico: 0.7em;
$font_size_code: 1.6em;
$font_size_code_large: 2.6em;
$font_size_code_mobile: 1.1em;
$font_size_h1: 2.3em;
$font_size_h1_large: 4.5em;
$font_size_h1_mobile: 1.4em;
$font_size_h1_tiny: 1em;
$font_size_h1_pico: 0.8em;
$font_size_h2: 1.9em;
$font_size_h2_large: 3.2em;
$font_size_h2_mobile: 1.25em;
$font_size_h2_tiny: 0.9em;
$font_size_h2_pico: 0.75em;

$headline_font: 'Lato';
$subline_font: 'Lato';
$main_font: 'Lato';

$large_min_width: 2200px;

$large_view: 1920px;
$mobile_view: 950px;
$tiny_view: 450px;
$pico_view: 320px;

$menu_text_transform: none;
$hide_footer: false;
$show_mobile_menu: false;
$shadow: false;
$headlineshadow: false;
