{%- extends "layout.html" -%}
{%- block title -%}
  {{- this.title -}}
{%- endblock -%}
{%- block body %}
    <div class="left">
      <h2>{{ this.title }}</h2>
      {{ this.body }}
    </div>
    <div class="right">
      {% for element in this.image.blocks %}
      <img src="{{ element.image }}" />
      {% endfor %}
    </div>
{% endblock -%}
{%- block class -%}
  start
{%- endblock -%}
{%- block scss -%}
  css/start.min.css
{%- endblock -%}
{%- block description -%}
  {{ this.description | default('Fridays for Future Bodensee') }}
{%- endblock -%}
